#forest {
  width: auto;
  height: 600px;
}

#cave {
  width: auto;
  height: 600px;
}

#castle {
  width: auto;
  height: 600px;
}

#crystals {
  width: auto;
  height: 600px;
}

#dragon {
  width: auto;
  height: 600px;
}

#treetop {
  width: auto;
  height: 600px;
}

#dungeons {
  width: auto;
  height: 600px;
}
